@using SalzburgProject.Models.Enum
@model Colaborador

@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <br />
    <h2>@ViewData["Title"]</h2>
    <hr />
    <br />
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-12">
                <div class="card-header">Detalhes do colaborador</div>
                <div class="card-body">
                    <form>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="Name" class="control-label">Nome</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="CPF" class="control-label">CPF</label>
                                <input asp-for="CPF" class="form-control" />
                                <span asp-validation-for="CPF" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="Telephone" class="control-label">Telefone</label>
                                <input asp-for="Telephone" class="form-control" />
                                <span asp-validation-for="Telephone" class="text-danger"></span>
                            </div>
                            <div class="col-md-6"> 
                                <label asp-for="Type" class="control-label">Tipo de colaborador</label>
                                @Html.DropDownListFor(model => model.Telephone, Html.GetEnumSelectList<ColaboradorTipo>(), "Selecione o tipo de colaborador", new { @class = "form-control" })
                            </div>
                        </div>
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </form>
                </div>
            </div>
            <br />
            <br />
            <div class="card mb-12">
                <div class="card-header">Folgas do colaborador</div>
                <div class="card-body text-center">
                    @if(ViewBag.FolgasColaborador == null) {
                        <strong>Não há folgas lançadas para o colaborador.</strong>
                    } else {
                    <table class="table table-striped table-hover">
                        <thead class="sucess">
                            <tr>
                                <th>*</th>
                                <th>Data da folga</th>
                                <th>Dia da semana</th>
                            </tr>
                        <tbody>
                                @{
                                    int contador = 1;
                                    foreach (var item in ViewBag.FolgasColaborador)
                                {
                                    <tr>
                                        <td>@contador</td>
                                        <td>@item.DataFolga.ToString("dd/MM/yyyy")</td>
                                        <td>@item.DataFolga.ToString("dddd")</td>
                                    </tr>
                                        contador++;
                                    }
                               }
                        </tbody>
                        </thead>
                    </table>
                    }
                </div>

            </div>
    </div>
</div>
