@model IEnumerable<Colaborador>

@{
    ViewData["Title"] = "Colaboradores";
}

<div class="container">
    <br />
    <h1>@ViewData["Title"]</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Novo colaborador</a>
    </p>
    <hr />
    @if(TempData["Success"] != null) { 
        <div class="alert alert-success" role="alert">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
    <table id="original-table" class="table table-striped table-hover">
        <thead class="sucess">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                @*<th>@Html.DisplayNameFor(model => model.Endereco)</th>*@
                <th>@Html.DisplayNameFor(model => model.Telephone)</th>
                <th>@Html.DisplayNameFor(model => model.Type)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th></th>
            </tr>
        <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.Endereco)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="bi bi-pen"></i></a>
                            @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>*@
                    </td>
                </tr>
                }
        </tbody>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        var table = new DataTable('#original-table', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
            },
        });
    </script>
}
